<div class="feed">
    {{#each posts}}
    <div class="post">

        <!-- USERNAME + PHOTO -->
        <div class="card ">
            <h2 class="username">{{user.username}}</h2>
        </div>
        <!-- IMAGE -->
        <div class="card">
            <div class="text-box">
                <img class="post-image" alt="user's photo" src="data:image/png;base64,{{image}}" />
                <h4 class="geotag">{{location}}</h4>
            </div>
        </div>

        <!-- LIKE / COMMENT / TITLE OF POST -->
        <div class="postBanner">
            <h3 class="photoTitle">{{title}}</h3>
            <div class="photobar">
                <ul>
                    <li>
                        <p class="likeCount">{{likes}}</p>
                    </li>
                    <li>
                        <button class="likeBtn" id="{{id}}" onclick="toggleLike()">&#9829</button>
                    </li>

                    <li>
                        <button id={{id}} class="comment-button" onclick="showTextarea()">&#9993</button>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Message + Blog -->
        <div class="card-blog">
            <div class="blog-box">
                <p class="blog">{{description}}</p>
                {{!-- add date formatter --}}
                <p class="date">{{format_date date}}</p>
            </div>
        </div>
        <input type="hidden" id="post_id" value="{{id}}" />
        <textarea id="comment-body" class="myTextarea test" data-description="{{id}}" style="display:none;"></textarea>
        <div class="dropDown">
            <button class="dropDownBtn" id="{{id}}" onclick="toggleComments()">&#9776;</button>
        </div>

        <div id="card-comment" class="hide card-comment">
            {{#each comments}}
            <!-- COMMENTS -->
            <div class="comment-box">
                <p class="commenter">{{user.username}}</p>
                <p class="comment">{{description}}</p>
                <p class="date">{{format_date date}}</p>
                <div class="divider"></div>
            </div>
            {{/each}}
        </div>

    </div>
    {{/each}}
</div>

<script src="/js/commentHandler.js"></script>
<script src="/js/likeCounter.js"></script>
<script src="/js/dropdown.js"></script>
<script src="/js/showCommentbox.js"></script>