<div class="feed">
    {{#each posts}}
    <div class="post">

        <!-- USERNAME + PHOTO -->
        <div class="card ">
            <h2 class="username">{{user.username}}</h2>
        </div>

        <!-- IMAGE -->
        <div class="card">
            <div class="text-box">
                <img class="post-image" alt="user's photo" src="data:image/png;base64,{{image}}" />
                <h4 class="geotag">{{location}}</h4>
            </div>
        </div>

        <!-- LIKE / COMMENT / TITLE OF POST -->
        <div class="postBanner">
            <h3 class="photoTitle">{{title}}</h3>
            <div class="photobar">
                <ul>
                    <li>
                        
                        <p class="likeCount">{{likes}}</p>
                    </li>
                    <li>
                        <input type="radio" class="likeBtn" name="likeBtn" value="love">
                        <label>Like</label>
                    </li>
                    <li>
                        <button id="comment-button" class="comment">Comment</button>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Message + Blog -->
        <div class="card-blog">
            <div class="blog-box">
                <p class="blog">{{description}}
                </p>
                {{!-- add date formatter --}}
                <p class="date">{{format_date date}}</p>
            </div>
        </div>
        <div class="dropDown">
            <button class="revealComments">DROPDOWN</button>
        </div>

        {{#if post.Comment}}
        <!-- COMMENTS -->
        <div class="card-comment">
            <div class="comment-box">
                <p class="commenter">{{user.username}}</p>
                {{!-- <p class="commenter">Jeffery Montana</p>  --}}
                <input type="hidden" name="post_id" value="{{post.id}}" />
                <p class="comment">{{comment.description}}</p>
                <p class="date">{{format_date date}}</p>
                <div class="divider"></div>
            </div>
            <div class="comment-box">
                <p class="commenter">{{user.username}}</p>
                {{!-- <p class="commenter">Jessica Montana</p> --}}
                <p class="comment"></p>
                <p class="date">{{format_date date}}</p>
            </div>
        </div>
        {{/if}}
    </div>

    {{/each}}

</div>

<script src="/js/commentHandler.js"></script>